<h2>Hiking Boots: </h2>
<div class="row">
  <% @boots.each do |boot| %>
  <div class="col-md-6">
  <div class="well">
 <h3><a href="/boots/<%= boot.id %>"><%= boot.name %></a></h3>
 <h4><%= boot.price %></h4>
  <img class="boot-image" src="<%= boot.image%>" alt="<%= boot.name %>">
  <h4><%= boot.description %></h4>
    </div>
   </div>
 <% end %>
</div>




