<% if current_user %>
  <h3>Hi <%= current_user.name %>!</h3>
<% end %>

<h2>Hiking Boots: </h2>
  <div class="row">
    <% @boots.each do |boot| %>
    <div class="col-md-8">
      <div class="well">
        <h3><a href="/boots/<%= boot.id %>"><%= boot.name %></a></h3>
        <h4><%= boot.price %></h4>
        <img class="boot-image" src="<%= boot.images.first.url%>" alt="<%= boot.name %>">
        <h4><%= boot.description %></h4>
    <% end %>
      </div>
    </div>
  </div>




