<h1>Product Info:</h1>
<p></p>
<h2><%= @boot.name %></h2>
<h3><%= @boot.price %></h3>
<p><%= @boot.image %></p>
<p><%= @boot.description %></p>
<!-- %= form_tag "/boots/#{@boot.id}", method: :delete do %>
  <input type="submit" value="Destroy boot" -->
  <!-- % end % -->
<p></p>
<p><%= link_to "Destroy boot", "/boots/#{@boot.id}", method: :delete %></p>
<p><a href="/boots">Back to all boots</a></p>

